<!DOCTYPE html>
<html>
<head>
  <title>Select Items</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body class="container">
<div id="app">
  <div>
    <h1>Select Multiple Items</h1>
    <label>
      <h5>Comma Separated Values:</h5>
      <p>show list of values separated by commas</p>
      <input type="text" class="form-control" name="comma" v-model="commaSeparated" value="hello">
    </label>
  </div>
  <br>
  <div>
    <label>
      <h5>Multiline Values:</h5>
      <p>show all items selected in a stack</p>
      <textarea class="form-control" rows="6">{{multiLine}}</textarea>
    </label>
  </div>
  <br>
  <div>
    <label>
      <h5>Multiselect Values:</h5>
      <p>Be able to select multiple values</p>
      <select multiple='true' name="multiselect" size="6" v-model='multiSelection'>
        <option v-for="fruit in fruits" v-bind='{fruit}'>{{ fruit }}</option>
      </select>
    </label>
  </div>
  {{multiSelection}}
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script>
  new Vue({
    el: '#app',
    data: {
      fruits: ['apple', 'pear', 'banana', 'orange', 'mango', 'cherry'],
      commaSeparated: '',
      multiLine: '',
      multiSelection: []
    },
    methods: {
      // clicked: function(event) {

      //   console.log(this.fruits);
      // },
      // addToCommaList: function() {
      //   console.log('change')
      // },
      // addToList: function(event){
      //   console.log(this.fruits)
      //   let value = event.target.value;
      //   let ms = this.multiSelection
      //   if (ms.indexOf(value) > -1) {
      //     return false
      //   } else {
      //     ms.push(value)
      //     console.log('multiselection ' + this.multiSelection);
      //   }
      // }
    }
  })
</script>
</body>
</html>